.modal-detail {
  margin: 30vh auto;
  background-color: white;
  width: 36vw;
  z-index: 21;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  padding: 20px;
  transition: 0.1s;
  transform: scale(0.7);
  visibility: hidden;
  opacity: 0;
  &.show {
    transition: 0.3s;
    transform: scale(1);
    visibility: visible;
    opacity: 1;
  }
  .action-header {
    color: #5f6368;
    font-size: 22px;
    display: flex;
    justify-content: flex-end;

    .left-side {
      display: flex;
      width: 30%;
      justify-content: space-between;
      .more {
        position: relative;
        .options {
          position: absolute;
          top: 30px;
          left: 0;
          border-radius: 3px;
          background-color: white;
          width: 75px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
          .option {
            height: auto;
            text-align: center;
            font-size: 15px;
            padding: 5px;
            cursor: pointer;
          }
        }
      }
    }
    .close-side {
      padding-left: 3vw;
      cursor: pointer;
    }
  }
  .content {
    .row {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: #3c4043;
      padding: 2vh 0;
      .team {
        img {
          width: 35px;
          border-radius: 20px;
        }
      }
      .background-color {
        .color {
          // background-color: red;
          width: 1vw;
          height: 2.1vh;
          border-radius: 3px;
        }
      }
      .title-day {
        .title {
          font-size: 25px;
        }
      }
      .description {
      }
      svg {
        cursor: pointer;
        color: #5f6368;
        font-size: 20px;
      }
      .right-side {
        padding-left: 7vw;
        width: 100%;
        background-color: white;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }
}
