.background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000000a1;
  z-index: 30;
  visibility: hidden;

  &.show {
    visibility: visible;
  }
  .map {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 30;
  }
  .modal {
    position: fixed;
    top: 10%;
    left: 30%;
    background-color: white;
    width: 36vw;
    z-index: 21;
    border-radius: 4px;
    transition: 0.1s;
    transform: scale(0.7);
    visibility: hidden;
    opacity: 0;
    &.show {
      transition: 0.3s;
      transform: scale(1);
      visibility: visible;
      opacity: 1;
    }
    // &.show-map {
    //   // transition: 5s;
    //   margin-left: 30px;
    // }
    .button {
      margin: 10px 20px;
      display: flex;
      justify-content: flex-end;
      padding-bottom: 30px;
      button {
        background-color: #7dae7a;
        padding: 15px;
        border: none;
        border-radius: 2px;
        color: #f1f3f4;
      }
    }
    .header {
      background-color: #f1f3f4;
      z-index: 22;
      width: 100%;
      height: 40px;
      .close-btn {
        height: 100%;
        margin: 0 5px;
      }
      svg {
        width: 25px;
        display: flex;
        margin-left: auto;
        color: #5f6368;
        height: 100%;
        cursor: pointer;
      }
    }
    .main-body {
      margin: 20px;
      .row {
        display: flex;
        margin: 0.5em 0;
        align-items: center;
        &.color {
          input {
            width: 100%;
          }
        }
        svg {
          display: flex;
          color: #5f6368;
          font-size: 20px;
        }
        .right-side {
          padding-left: 20px;
          width: 100%;
        }
        &.location {
          position: relative;
          .dropdown {
            position: absolute;
            top: 100%;
            left: 7%;
            background-color: white;
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
            z-index: 23;
            width: 100%;
            .dropdown-row {
              padding: 10px;
              cursor: pointer;
              display: flex;
              .location {
                // padding-left: 10px;
              }
            }
          }
        }
      }
      .title {
        justify-content: flex-end;
      }
      .file .input-file {
        // width: 90%;
        border: 1px solid #5f6368;
        cursor: pointer;
        position: relative;
        .title {
          position: absolute;
          top: 0;
          left: 10px;
          color: #5f6368;
          z-index: -1;
        }
        input {
          width: 100%;
          opacity: 0;
          cursor: pointer;
        }
      }
    }
  }
}

.ck-edit {
  width: 99%;
}
