.modal-share {
  margin: 30vh auto;
  background-color: white;
  width: 36vw;
  z-index: 21;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  // padding: 20px;
  .header {
    width: 100%;
    padding: 10px 0;
    border-bottom: 0.5px solid #dadce0;
    span {
      padding: 0 20px;
    }
  }
  .body {
    padding: 20px;
    .email {
      width: 100%;
      .input-email {
        width: 100%;
      }
    }
    .option {
      padding: 10px 0;
      display: flex;
      align-items: center;
    }
    .view {
    }
  }
}
