@import "react-big-calendar/lib/sass/styles";
@import "react-big-calendar/lib/addons/dragAndDrop/styles"; // if using DnD

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 5px 20px;
  .left-side {
    display: flex;
    align-items: flex-end;
    width: 36%;
    .app-name {
   
      h1 {
        margin: 0;
      }
    }
    .col {
      height: 20%;
      width: 1px;
      background-color: black;
    }
    .next-event {
      display: flex;
      justify-content: center;
      align-items: baseline;
      padding-left: 2vw;
      color: #8792af;
      p {
        font-weight: bold;
        padding-right: 6px;
        color: #3e66ff;
      }
    }
  }
  .mid-side {
    width: 30%;
    display: flex;
    justify-content: center;
    .search {
      width: 18vw;
      position: relative;
      input {
        width: 100%;
        border: 2px solid #f3f7f9;
        border-radius: 10px;
        padding: 15px 13px;
        transition: 0.5s;
        caret-color: #3c64ff;
        &::placeholder {
          color: #b5bfe6;
        }
        &:focus {
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          transition: 0.5s;
        }
      }
      svg {
        position: absolute;
        top: 1vh;
        left: 16vw;
        background-color: #335dff;
        color: white;
        padding: 7px;
        border-radius: 10px;
        border: 2px solid #c6deff;
        cursor: pointer;

        // background-color: ;
      }
    }
  }
  .right-side {
    width: 34%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .notification {
      position: relative;
      svg {
        font-size: 25px;
        color: #373740;
        cursor: pointer;
      }
      .number {
        position: absolute;
        bottom: 13px;
        left: 12px;
        padding: 3px 6px;
        background-color: #f35e5a;
        border-radius: 50px;
        color: white;
        font-size: 8px;
        font-weight: bold;
      }
    }
    .profile {
      display: flex;
      align-items: center;
      width: 50%;
      justify-content: space-between;
      .my-setting {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        font-weight: bold;
        .setting {
          font-size: 12px;
          color: #919bb9;
        }
      }
      .avatar {
        width: 3vw;
        img {
          width: 100%;
          border-radius: 50px;
        }
      }
    }
    .notify-list {
      position: absolute;
      top: 3em;
      right: 2em;
      background-color: white;
      box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px,
        rgb(0 0 0 / 30%) 0px 8px 16px -8px;
      width: 21em;
      border-radius: 7px;
      z-index: 1;
      transition: all 0.4s;
      opacity: 0;
      visibility: hidden;

      &.show {
        visibility: visible;
        opacity: 1;
      }
      .notify-layout {
        padding: 5px 10px 10px 10px;
        display: flex;
        flex-direction: column;
        .all-unseen {
          width: 40%;
          display: flex;
          justify-content: space-between;
          .all {
            cursor: pointer;
          }
          .unseen {
            cursor: pointer;
          }
        }
        .notifies-map {
          .notify {
            margin: 10px 0;
            display: flex;
            cursor: pointer;
            padding: 10px;
            align-items: flex-start;
            border-radius: 5px;
            &:hover {
              background-color: #00000057;
            }
            .image-send {
              width: 20%;
              margin-right: 20px;
              img {
                width: 100%;
                border-radius: 40px;
              }
            }
            .notify-infor {
              display: flex;
              flex-direction: column;
              .title-infor {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3; /* number of lines to show */
                line-clamp: 3;
                -webkit-box-orient: vertical;
              }
              .time-past {
                font-size: 12px;
                color: #1876f2;
                &.seen {
                  color: #65676b;
                }
              }
              .action-btns {
                display: flex;
                justify-content: space-between;
                margin-top: 8px;
                .check-accept {
                  font-size: 13px;
                  color: #65676b;
                }
                .accept-btn {
                  background-color: #335dff;
                  padding: 10px 25px;
                  border-radius: 8px;
                  cursor: pointer;
                  button {
                    color: white;
                    font-weight: 600;
                    font-family: "Nunito", sans-serif;
                  }
                }
                .denied-btn {
                  padding: 10px 25px;
                  border-radius: 8px;
                  cursor: pointer;
                  background-color: #e4e6eb;
                }
              }
            }
            .new-notify {
              width: 14px;
              height: 10px;
              background-color: #1876f2;
              border-radius: 20px;
            }
          }
        }
      }
    }
  }
}

.rbc-today {
  background-color: transparent;
}
